/* Change the background color to purple */
body {
  background-color: purple;
}

/* Change the text color to black */
body {
  color: black;
}

/* center all elements on the page */
.container {
  width: 80%; /*set the width of the container*/
  margin: 0 auto; /* center the container horizontally */
}

/* center the text within the headings */
h2 {
  text-align: center;
}

/* center the text within the navigation links */
nav a {
  text-align: center;
}
